body {
  background-color: rgb(10, 116, 158);
}

.custom-head {
  color: rgb(255, 255, 255);
  font-size: 35px;
}

.custom-nav {
  margin: 20px;
}

.custom-link {
  color: rgb(237, 242, 245);
  font-size: 25;

}
.custom-link:hover {
  color: rgb(60, 191, 247)
}
.custom-field {
  color: rgb(166, 223, 250);
  padding-bottom: 10px;
  font-size: 20px;
}

.login-form {
  width: 25%;
  margin: auto;
  padding-top: 100px;
}
.form-group {
  padding: 20px;
}
.custom-btn {
  margin: 20px;
  background: rgb(0, 0, 0);
  color: #ffffff;
}
.custom-btn:hover {
  background: rgb(103, 203, 247);
  color: rgb(255, 255, 255);
}
.form-control {
  background: hwb(0 100% 0%);
  color: rgb(255, 255, 255)
}
.blog-card {
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.blog-container {
  border:hwb(199 15% 4%) 1px solid;
  border-radius: 5px;
}
.blog-header {
  color:rgb(0, 0, 0);
  padding: 10px;
}
.blog-author, .blog-content, .blog-comment {
  color:#ffffff;
}
.blog-name {
  font-size: 25px;
}
.blog-date {
  font-size: 15px;
  color:#ffffff;
}
.login-header {
  width: 50%;
  margin: auto;
  text-align: center;
  color:#ffffff;
  padding-top: 75px;
}
a {
  text-decoration: none;
}

.dashboard-container {
  width: 50%;
  margin: auto;
  text-align: center;
  color:#ffffff;
}

.dashboard-name {
  font-size: 40px;
}

.update-form {
  margin: auto;
  padding-top: 20px;
}

.hidden {
  display: none;
}
.comment-card {
  width: 50%;
  margin: auto;
  text-align: center;
  color:#ffffff;
  padding: 50px;
}
.comment-head {
  color:#3bbcf8;
}